fieldset
    input(type='hidden',name='publish_project_description_field',id='#{formPrefix}publish_project_description_field',value='#{team.publishProjectDescription}')
    input(type='hidden',name='need_developers_field',id='#{formPrefix}need_developers_field',value='#{team.needsDevelopers}')
    input(type='hidden',name='need_designers_field',id='#{formPrefix}need_designers_field',value='#{team.needsDesigners}')
    input(type='hidden',name='need_ideas_field',id='#{formPrefix}need_ideas_field',value='#{team.needsIdeas}')
    div(class='textInput')
        div(class='textbox-wrapper')
            label(for='team_name', class='form-description') Team Name:
            input(type='text',id='#{formPrefix}team_name',name='team_name', value='#{team.name}')
        div(class='textbox-wrapper')
            label(for='project_description', class='form-description') Project Description:
            input(type='text',id='#{formPrefix}project_description',name='project_description', value='#{team.description}')
    div(class='toggle-button-row')
            label Publish Project Description?
            div
                input(type='button', id='#{formPrefix}button-publish-description-yes', class='tiny-toggle-button', value='Yes', onclick='togglePublishDescriptionYes()')
                input(type='button', id='#{formPrefix}button-publish-description-no', class='tiny-toggle-button', value='No', onclick='togglePublishDescriptionNo()')
    p Who do you need? (select multiple)
    div(class='toggle-button-row')
        input(type='button', id='#{formPrefix}button-need-developers', class='tiny-toggle-button', value='Need developer(s)', onclick='toggleNeedDevelopers()')
        input(type='button', id='#{formPrefix}button-need-designers', class='tiny-toggle-button', value='Need designer(s)', onclick='toggleNeedDesigners()')
        input(type='button', id='#{formPrefix}button-need-ideas', class='tiny-toggle-button', value='Need idea(s)', onclick='toggleNeedIdeas()')