div(class='team-info-panel-block')
    div(class='team-info-panel-name')
        #{team.name}
    div(class='team-info-panel-description')
        div
            span(class='teamLabel') Description:
            if team.publishProjectDescription == true
                span #{team.publicDescription}
            else
                span(class='nonPublicDescription') Description Not Public
        div
            span(class='teamLabel') Github:
            span
                a(href='https://github.com/#{organizationName}/#{team.githubRepositoryName}') #{organizationName}/#{team.githubRepositoryName}
    div(class='team-info-panel-members')
        each participant in team.participants
            a(href='https://github.com/#{participant.username}')
                img(src='https://secure.gravatar.com/avatar/#{participant.gravatarId}?s=30', class='gravatarImg', alt='#{participant.username}')
    div(class='team-panel-needs-bar')
        if (team.needsDevelopers)
            span(class='team-info-panel-needs-block') Needs Developers
        if (team.needsDesigners)
            span(class='team-info-panel-needs-block') Needs Designers
         if (team.needsIdeas)
            span(class='team-info-panel-needs-block') Needs Ideas
    if ((team.needsDevelopers || team.needsDesigners || team.needsIdeas) && (team.participants.length < team.maxTeamSize) && (!team.isParticipant))
        div(class='buttons')
            form(class='buttons',id='form-#{team._id}',action='/join-team',method='POST')
                input(type='hidden',name='team_id',value='#{team._id}')
                input(type='button',value='Join Team',onclick='joinTeam(\'#{team._id}\')')